$purple_flat: #ad0afd;
$nav-height: 2em;
$nav-padding: 0.8em;
$nav-horizontal-padding: 1.2em;
// $nav-border: 0.5em;
$nav-border: 0;
$nav-menu-border: 0.4em;
$nav-font-size: 1em;
$nav-font-size-big: 1.25em;

$nav-height-total: $nav-padding + $nav-height + $nav-padding + $nav-border;

nav {
  background: #000;
  padding: $nav-padding $nav-horizontal-padding;
  display: flex;
  align-items: center;

  // setting z-index to expand
  // menus over the body
  position: absolute;
  width: 100%;
  z-index: 900;

  // set bottom border to solid white
  // so to make it visible against body
  // black background
  // border-bottom: $nav-border solid #fff;
}

nav a, nav p {
  color: #fff;
}

nav a:hover {
  color: $purple_flat;
}

.topbar, .topbar-menu {
  list-style-type: none;
}

/* mobile menu */
.topbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.topbar li a {
  display: flex;
  align-items: center;
}

.topbar li p {
  display: flex;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  margin-bottom: 0.8em;
}

.first-item {
  margin-top: 2em;
}

.active .item {
  display: block;
}

.topbar-menu {
  display: none;
}

.topbar-menu-active {
  display: block;
  background-color: #000;

  // add bottom solid whit border
  // to distinguish it from backgorund
  // border-bottom: $nav-menu-border solid #fff;
  padding-bottom: $nav-padding;
}

.topbar-menu-active .topbar-menu-item {
  display: block;
}

.topbar-menu-title-active {
  margin-bottom: 0.8em;
}

.has-menu i {
  font-size: $nav-font-size;
}

.has-menu > a.topbar-menu-title::after {
  font-family: "Font Awesome 5 Free";
  font-size: $nav-font-size;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.has-menu > a.topbar-menu-title-active::after {
  font-family: "Font Awesome 5 Free";
  font-size: $nav-font-size;
  line-height: 16px;
  font-weight: 900;
  content: "\f053";
  color: white;
  padding-left: 5px;
}

.logo a {
  font-size: $nav-font-size-big; }

.logo a:hover {
  color: #fff;
}

.logo img {
  width: $nav-height;
  margin-right: 10px;
}

// Desktop Menu

@media all and (min-width: 768px) {
  .topbar {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    flex: 1;
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    margin-left: 0.8em;
  }

  .item .has-menu {
    flex-direction: column;
  }

  .first-item {
    margin: 0;
  }

  .button {
    order: 2;
  }

  .topbar-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #111;
  }

  .toggle {
    display: none;
  }

  .topbar-menu-active {
    border-radius: 0;
  }

  .topbar-menu-title-active {
    margin-bottom: 0;
  }
}
