<nav>
  <ul class="topbar">
    <li class="logo">
      <a href="#">
        <img src="static/img/rah_logo.png" alt="logo">
        Rust Against Humanity
      </a>
    </li>

    <li class="item first-item">
      <a href="https://stand-with-ukraine.pp.ua/" class="tags mb-0 has-addons">
        <span class="tag mb-0 is-warning">#support</span>
        <span class="tag mb-0 is-info">ukraine</span>
      </a>
    </li>

    <li class="item">
      <a href="/about">How this stuff works</a>
    </li>

    <li class="item">
      <a href="https://github.com/TheShooter89/rust-against-humanity">
        Github
        <span class="icon"><i class="fa-brands fa-github"></i></span>
      </a>
    </li>

    {% if is_logged%}
      <li class="item has-menu">
        <a href="#" class="topbar-menu-title" tabindex="0">{{ username }}</a>

        <ul class="topbar-menu">
          <li class="topbar-menu-item">
            <a href="/profile">
              <strong>Profile</strong>
            </a>
          </li>

          <li class="topbar-menu-item">
            <a href="/logout" class="button is-danger">
              <strong>LOGOUT</strong>
            </a>
          </li>
        </ul>
      </li>
    {% else %}
      <li class="item">
        <a href="/logout" class="button is-primary">
          <strong>LOGIN</strong>
        </a>
      </li>
      <li class="item">
        <a href="/logout" class="button is-info">
          <strong>REGISTER</strong>
        </a>
      </li>
    {% endif %}

    <li id="burger-button" class="toggle">
      <a href="#">
        <span class="icon"><i class="fa-solid fa-bars"></i></span>
      </a>
    </li>
  </ul>
</nav>

<!-- <nav class="topbar"> -->
<!--   <div class="logo"> -->
<!--     <a href="#"> -->
<!--       <img src="static/img/rah_logo.png" alt="logo"> -->
<!--       Rust Against Humanity -->
<!--     </a> -->
<!--   </div> -->
<!---->
<!--   <div class="toggle"> -->
<!--     <a id="burger-button" href="#"> -->
<!--       <span class="icon"><i class="fa-solid fa-bars"></i></span> -->
<!--     </a> -->
<!--   </div> -->
<!---->
<!--   <ul id="menu-id" class="menu"> -->
<!--     <li> -->
<!--       <a href="https://stand-with-ukraine.pp.ua/" class="tags mb-0 has-addons"> -->
<!--         <span class="tag mb-0 is-warning">#support</span> -->
<!--         <span class="tag mb-0 is-info">ukraine</span> -->
<!--       </a> -->
<!--     </li> -->
<!---->
<!--     <li> -->
<!--       <a href="/about">How this stuff works</a> -->
<!--     </li> -->
<!---->
<!--     <li> -->
<!--       <a href="https://github.com/TheShooter89/rust-against-humanity"> -->
<!--         <span class="icon"><i class="fa-brands fa-github"></i></span> -->
<!--       </a> -->
<!--     </li> -->
<!---->
<!--     <li> -->
<!--       {% if is_logged%} -->
<!--       <a href="/logout" class="button is-danger"> -->
<!--         <strong>LOGOUT</strong> -->
<!--       </a> -->
<!--       {% endif %} -->
<!--     </li> -->
<!--   </ul> -->
<!-- </nav> -->
