<section class="notification block is-spaced">
  <h2 class="title is-4">About this project</h2>
  <p><code>rust-against-humanity</code> is a small self-educational experiment aimed to play around with Rust and htmx
  technologies</p>
  <br>
  <p>this web app is basically an online multiplayer clone of <code>Cards Against Humanity</code> card game</p>
</section>

<section class="notification block is-spaced">
  <h3 class="title is-4 is-spaced" id="backend">Backend</h3>
  <p>Server has been developed in Rust leveraging <code>axum</code> async
  runtime and <code>askama</code> templating engine</p>
</section>

<section class="notification block is-spaced">
  <h3 class="title is-4 is-spaced" id="frontend">Frontend</h3>
  <p>Frontend is almost entirely prerendered (synchronously) on the
  server. AJAX calls are handled using <code>htmx</code> framework,
  combined with very few lines of Typescript bundled in a single file</p>
</section>

<section class="notification block">
  <h2 class="title is-4 is-spaced" id="credits">Credits</h2>
  <p>Author: <a href="http://https://github.com/TheShooter89">tanque</a></P>
  <p>Github repo of this project can be found <a href="https://github.com/TheShooter89/rust-against-humanity">here</a></p>
</section>
