{% extends "../layout/base.html" %}

{% block title %}
  {% if let Some(title) = title %}
    {{ title }}
  {% endif %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block body%}
  <div class="columns is-8 is-variable">
    <!-- LEFT: main image container -->
    <div class="column is-two-thirds has-text-left">
      {% include "../home/home_image_box.html" %}
    </div>

    <!-- RIGHT: QR code and edit prompt -->
    <div class="column is-one-third has-text-left">
      {% include "../home/home_prompt_box.html" %}
    </div>
  </div>
{% endblock %}
