nav {
  background: #222;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 900;
  border-bottom: 0.5em solid #fff;
}

nav a, nav p {
  color: #fff;
}

nav a:hover {
  color: #ad0afd;
}

.topbar, .topbar-menu {
  list-style-type: none;
}

/* mobile menu */
.topbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.topbar li a {
  display: flex;
  align-items: center;
}

.topbar li p {
  display: flex;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  margin-bottom: 0.8em;
}

.first-item {
  margin-top: 2em;
}

.active .item {
  display: block;
}

.topbar-menu {
  display: none;
}

.topbar-menu-active {
  display: block;
  background-color: #222;
  border-radius: 3px;
}

.topbar-menu-active .topbar-menu-item {
  display: block;
}

.topbar-menu-title-active {
  margin-bottom: 0.8em;
}

.has-menu i {
  font-size: 12px;
}

.has-menu > a.topbar-menu-title::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.has-menu > a.topbar-menu-title-active::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f053";
  color: white;
  padding-left: 5px;
}

.logo a {
  font-size: 20px;
}

.logo a:hover {
  color: #fff;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

@media all and (min-width: 768px) {
  .topbar {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    flex: 1;
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    margin-left: 0.8em;
  }
  .item .has-menu {
    flex-direction: column;
  }
  .first-item {
    margin: 0;
  }
  .button {
    order: 2;
  }
  .topbar-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #111;
  }
  .topbar-menu .topbar-menu-active {
    border-bottom: 0.5em solid #fff;
    padding-bottom: 0.3em;
  }
  .toggle {
    display: none;
  }
  .topbar-menu-active {
    border-radius: 0;
  }
  .topbar-menu-title-active {
    margin-bottom: 0;
  }
}
